.image-container{
flex: 1;
}
.img-presentation{
    width: 69%;
    border-radius: 100%;
}

@media screen and (max-width:760px) {
    .image-container{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .img-presentation{
        width: 60%;
        border-radius: 60%;
    }
}